<%- include('common/nav')-%>

<body
    style="background-image: url('../assets/images/liquid-horse.jpg'); background-size: cover; backdrop-filter: blur(5px);">
    <div style="background-color: rgba(0, 0, 0, 0.349); color: white; height: 40px;">
        <b style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px;">About Us</b>
        <b style="float: right;"><a href="index">Home</a><i style="color: skyblue;"> o </i>About US</b>
    </div>
    <div class="body-about w3-animate-top" style="text-align: center; animation-duration: 10s;">
        <h1 style="color: skyblue;">About <normal style="color: orange; font-size: 32px;">Online Exam</normal>
        </h1>
        <img src="../assets/images/title-icon.png" alt="WELCOME">
        <i>
            <p style="font-size: 20px; color: white;">Let's take a Look to our Online Exam Portal</p>
            <p style="font-size: 20px; color: white;">Welcome to IMSEC Online Exam Portal...</p>
        </i>
    </div><br>

    <table style="width:100%">
        <tr style="font-size: 18px;">
            <th style="color: rgba(47, 211, 47, 0.596); border: 2px solid green; padding: 18px; width: 35%;">
                Our Objectives:-
            </th>
            <th style="color: cyan; border: 1px solid cyan; padding: 18px; width: 25%;">
                Our Goal
            </th>
            <th style="color: rgba(255, 251, 0, 0.836); border: 1px solid yellow; padding: 18px; width: 35%;">
                Our Achievements:-
            </th>
        </tr>
        <tr style="font-size: 18px;">
            <td style="color: rgba(47, 211, 47, 0.596); border: 1px solid green; padding: 18px; width: 35%;">
                IMSEC Exams is one of the best online exam portal in AP and Telangana.
                We are providing mock exams and practice exams for various competitive exams in AP and Telangana states.
                Our model papers or mock exams are prepared by subject experts and every question will have its
                explanation.
                We have youtube channel with 350k subsribers. We are uploading day to day updates on current affairs.
            </td>
            <td style="color: cyan; border: 1px solid cyan; padding: 18px; width: 25%;">
                IMSEC Exams is founded by a team to help aspirants those who are preparing for competitive exams .
                Our online exam pattern similar to actual Computer Based Test(CBT).These analysis will help full
                to aspirants for particular examination.
            </td>
            <td style="color: rgba(255, 251, 0, 0.836); border: 1px solid yellow; padding: 18px; width: 35%;">
                IMSEC Exams only providing test series or online exams also providing online classes,
                video classes, live classes, study material,syllabuses, practice bits for competitive exams.
                We are provided 6 different types of analysis like score analysis, topic wise analysis,
                question wise analysis, comparison analysis, difficulty level analysis, time management.
                IMSEC Exams is best online exams plot form for the practice mock exams.
            </td>
        </tr>
    </table><br><br><br><br><br><br>
    <%- include('common/foot')-%>
</body>
</html>