<!DOCTYPE html>
<head>
    <title>Designing Exam Model</title>
    <style>
        body {
            background-color: rgb(125, 240, 215);
            font-size: 20px;
            font-weight: bold;
        }
        input {
            font-size: 18px;
        }
        select {font-size: 18px;}
        .alert_mera{ padding: 50px 50px; 
        margin-left: 100px;
        margin-right: 100px;
        background-color: rgb(216, 175, 240);
        }
        .alert_mera  span{
            color: red;
        }   
        .alert_mera textarea{
            padding: 5px;
        }
        .alert_mera select{
            width: 30%; padding: 5px;
        }
        .alert_mera input{
            width: 31.7%;
        }
        .alert_mera button{
            padding: 5px; margin-left: 100px;
        }
        .row {
            padding: 20px 40px;
            display: flex;
            flex-wrap: wrap;
        }
        .column {flex: 50%;}
        @media screen and (max-width: 992px) {
            .column {
                flex: 50%;
            }
        }
        @media screen and (max-width: 600px) {
            .row {
                flex-direction: column;
            }
        }
        #nabtau:hover{
            cursor: pointer;
        }
    </style>
</head>

<body>
    <center>
        <h1 style="text-decoration: underline;">Online Exam Question Bank Management</h1>
    </center>
    <div style="margin-left: 100px; margin-right: 100px;">
        <fieldset>
            <legend style="text-decoration: underline; font-size: 25px;">Exam Basic Details :</legend><br>
            <div class="row">
                <div class="column">
                    <span style="color: red;">*</span>Exam name : <br>
                    <input type="text" placeholder="Enter Exam name" style="width: 80%; padding: 8px;">
                </div>
                <div class="column">
                    <span style="color: red;">*</span>Allow instant score view : <br>
                    <input type="radio" id="yes" name="score" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="score" value="no" checked>
                    <label for="no">No</label>
                    <br><br><br>
                </div>
                <div class="column">
                    <span style="color: red;">*</span>Allow candidate to review exam : <br>
                    <input type="radio" id="yes" name="review" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="review" value="no" checked>
                    <label for="no">No</label>
                </div>
                <div class="column">
                    <span style="color: red;">*</span>Duration of Exam(In minutes) :
                    <input type="text" placeholder="Enter time in minutes" style="width: 80%; padding: 8px;">
                    <br><br>
                </div>
                <div>
                    <span style="color: red;">*</span>Negative Marking : <br>
                    <input type="radio" id="yes" name="negative" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="negative" value="no" checked>
                    <label for="no">No</label>
                </div>
            </div>
            <div style="padding: 20px 40px;">
                <span style="color: red;">*</span>Select exam type : <br>
                <select name="exam-type" id="exam-type" style="width: 40%; padding: 8px;">
                    <option value="select">Select</option>
                    <option value="subjective">Subjective</option>
                    <option value="optional">Optional</option>
                    <option value="descriptive">Descriptive</option>
                </select><br>
            </div>
        </fieldset>
        <br><br>
        <fieldset>
            <legend style="text-decoration: underline; font-size: 25px;">Question type :</legend><br>
            <div style="padding: 10px 30px;">
                <div>
                    <span style="color: red;">*</span>Timer for each Question : <br>
                    <input type="radio" id="yes" name="timer" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="timer" value="no" checked>
                    <label for="no">No</label>
                </div><br>
                <div>
                    <span style="color: red;">*</span>Enable unique question for each candidate : <br>
                    <input type="radio" id="yes" name="unique" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="unique" value="no" checked>
                    <label for="no">No</label>
                </div><br>
                <div>
                    <span style="color: red;">*</span>Shuffle Question : <br>
                    <input type="radio" id="yes" name="shuffle" value="yes" checked>
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="shuffle" value="no">
                    <label for="no">No</label>
                </div><br>
            </div>
        </fieldset>
        <br><br>
        <fieldset>
            <legend style="text-decoration: underline; font-size: 25px;">Proctoring :</legend><br>
            <div style="padding: 10px 30px;">
                <div>
                    <span style="color: red;">*</span>Enable remote proctoring : <br>
                    <input type="radio" id="yes" name="remote" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="remote" value="no" checked>
                    <label for="no">No</label>
                </div><br>
                <div>
                    <span style="color: red;">*</span>Capture candidate photo : <br>
                    <input type="radio" id="yes" name="photo" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="photo" value="no" checked>
                    <label for="no">No</label>
                </div><br>
                <div>
                    <span style="color: red;">*</span>Image : <br>
                    <input type="file" id="img" name="img" accept="image/*">
                </div>
            </div>
        </fieldset>
        <br><br>
        <h1>Design your exam paper as you want :)</h1>
        <br><br>
        <div id="alert_mera" style="padding: 50px 50px; background-color: rgb(216, 175, 240);">
            <span style="color: red;">*</span>Question: <textarea cols="50" rows="1"
                style="padding: 5px;"></textarea>
            <span style="color: red;  margin-left: 50px;">*</span> Select answer type: <select
                style="width: 30%; padding: 5px;">
                <option value="select">Select</option>
                <option value="numbers_only">Numbers Only</option>
                <option value="single_value">Single Value</option>
                <option value="single_choice_questions">Single choice Answers</option>
                <option value="multiple_choice_questions">Multiple Choice Answers</option>
                <option value="descriptive">Descriptive</option>
            </select><br><br>
            <span style="color: red;">*</span>Enter Answer: <input type="text" style="width: 31.7%;">
            <button onclick="addye()" style="padding: 5px; margin-left: 100px;">Add New Question</button>
        </div>
    </div><br>
    <center>
        <button id="nabtau" onclick="jaoHome()" style="background-color: rgb(70, 219, 70); color: white; font-size: 30px; border: none;">Submit</button>
    </center>
    <script>
        function addye() {
            let div = document.createElement('div');
            div.className = "alert_mera";
            div.innerHTML = "<span>*</span>Question: <textarea cols='50' rows='1'></textarea><span>*</span> Select answer type: <select><option value='select'>Select</option><option value='numbers_only'>Numbers Only</option><option value='single_value'>Single Value</option><option value='single_choice_questions'>Single choice Answers</option><option value='multiple_choice_questions'>Multiple Choice Answers</option><option value='descriptive'>Descriptive</option></select><br><br><span>*</span>Enter Answer: <input type='text'><button onclick='addye()'>Add New Question</button>";
            document.body.append(div);
        }
        function jaoHome(){
            alert("Exam Paper Designed Successfully :) \nExam ID : 123456\nShare it with students to join them to take exam.\nThanking You!!");
            window.open("teachers_login","_self");
        }
    </script>
</body>

</html>