<%- include('common/nav')-%>

<body>
    <div class="w3-animate-top" style="text-align: center;">
        <h1>IMSEC Online Examination</h1>
        <p style="font-size: 20px; color:black;">Welcome to IMSEC Online Exam Portal...</p></i>
        <button type="button" onclick="window.location.href='about'">Read More</button>
    </div>

    <br><br><br>
    <h1>Instructions:-</h1>
    <p>
        1) Students fail to appear for exam within specified timings.<br>
        2) Student do not appear for both the papers.<br>
        3) Student appear for exam late / face lack of time.<br>
        4) Student ignores instructions and rules.<br>
        5) Student who do not keep backup of answers.<br>
        6) Student submit short answers or short assignments or who receives less score as mentioned below.<br>
        7) Student do not submit details from www.dlc.co.in/form/ifs-29.aspx after appearing for both the papers<br>
        8) Student face internet of power failure problems.<br>
        9) Un-necessary communications / Arguments, or plagiarism against management decisions.<br>
        10) Do not resize the browser during the Exam.<br>
    </p>
    <form method="get" action="ExamRegForm">
        <button type="submit" style="float:right;">Join Now</button>
    </form>
    <!-- <button type="button" autofocus="autofocus" onclick="window.location.href='FWRegForm'">Join Now</button> -->
</body>

</html>