<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Pattern</title>
    <style>
        img{
            width: 100%;
        }
    </style>
</head>
<body>
    <a href="Exam-model">
        <img src="../assets/images/exam_teach1.png">
    </a>
    <!-- <img src="../assets/images/exam_teach1.png" style="width: 100%;"> -->
    <img src="../assets/images/exam_teach5.png">
    <img src="../assets/images/exam_teach2.png">
    <img src="../assets/images/exam_teach3.png">
    <img src="../assets/images/exam_teach4.png">
    <img src="../assets/images/exam_teach6.png">
</body>
</html>