<!DOCTYPE html>

<head>
  <title>Start Exam</title>
  <link rel="stylesheet" type="text/css" href="../assets/indexPage.css">
  <script>
    function submitted() {
      alert("Your exam has been successfully submitted!!");
      window.open("Exam-first","_self");
    }
  </script>
</head>

<body>

  <form action="ExamRegForm">
    <button type="submit" style="position: fixed; bottom: 10px;">Back</button>
  </form>

  <center>
    <h1>Computer Science and Engineering</h1>
    <h2>HTML Programming Online Exam :- MCQ Questions</h2>
    <h2>This section consists of important multiple choice questions on html programming.</h2>
  </center>

  <pre style="color: brown; font-size: 25px;">
    1) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic
    
    2) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic

    3) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic

    4) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic

    5) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic

    6) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic

    7) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic
    
    8) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic
    
    9) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic

    10) Who invented JavaScript ?

        a: Douglas Crockford       b: Sheryl Sandberg       c: Brendan Eic
  </pre>

  <button id="submit" onclick="submitted()" style="float: right;">Submit Quiz</button>

</body>

</html>