<%- include('common/nav')-%>

<body>
    <div id="img-slider"></div>

    <div class="w3-animate-top" style="text-align: center; animation-duration: 14s;">
        <h1>About IMSEC Online Exam</h1>
        <i>
            <p style="font-size: 20px; color:black;">Let's take a Look to our Online Exam Portal</p>
            <p style="font-size: 20px; color:black;">Welcome to IMSEC Online Exam Portal...</p>
        </i>
        <button type="button" onclick="window.location.href='about'">Read More</button><br><br>
    </div>

    <div class="exam-package-outer" style="text-align: center;"><br>
        <h1 style="color: coral;">Our Exam Packages</h1>
        <p style="color: cyan;">Exam Portal to write Exams...</p>
        <div class="exam-packages w3-animate-left">
            <div>Sem-1
                <p style="font-size: 15px; line-height: 0px;">sem-1 exam preparation syllabus.</p><br>
                <button>View Package</button>
            </div>
            <div>Sem-2
                <p style="font-size: 15px; line-height: 0px;">sem-2 exam preparation syllabus.</p><br>
                <button>View Package</button>
            </div>
            <div>Sem-3
                <p style="font-size: 15px; line-height: 0px;">sem-3 exam preparation syllabus.</p><br>
                <button>View Package</button>
            </div>
            <div>Sem-4
                <p style="font-size: 15px; line-height: 0px;">sem-4 exam preparation syllabus.</p><br>
                <button>View Package</button>
            </div>
            <div>Sem-5
                <p style="font-size: 15px; line-height: 0px;">sem-5 exam preparation syllabus.</p><br>
                <button>View Package</button>
            </div>
            <div>Sem-6
                <p style="font-size: 15px; line-height: 0px;">sem-6 exam preparation syllabus.</p><br>
                <button>View Package</button>
            </div>
            <div>Sem-7
                <p style="font-size: 15px; line-height: 0px;">sem-7 exam preparation syllabus.</p><br>
                <button>View Package</button>
            </div>
            <div>Sem-8
                <p style="font-size: 15px; line-height: 0px;">sem-8 exam preparation syllabus.</p><br>
                <button>View Package</button>
            </div>
        </div>
    </div>

    <div class="faculties-outer" style="text-align: center;"><br>
        <h1 style="color: coral;">Our Faculties</h1>
        <p>Online Teaching Faculties Facilities...</p>
        <div class="faculties">
            <div>
                <img src="../assets/images/girl-1.jpg">
                <p style="font-size: 15px; line-height: 0px;">Akansha</p>
                <button>View Details</button>
            </div>
            <div>
                <img src="../assets/images/girl-2.jpg">
                <p style="font-size: 15px; line-height: 0px;">Shakshi</p>
                <button>View Details</button>
            </div>
            <div>
                <img src="../assets/images/girl-3.jpg">
                <p style="font-size: 15px; line-height: 0px;">Aisha</p>
                <button>View Details</button>
            </div>
            <div>
                <img src="../assets/images/girl-4.jpg">
                <p style="font-size: 15px; line-height: 0px;">Simran</p>
                <button>View Details</button>
            </div>
        </div>
    </div>

    <div class="articles-outer" style="text-align: center;"><br>
        <h1 style="color: white;">Our Articles</h1>
        <p style="color: white;">Here are some useful Articles that helps you to gain some knowledge before / after
            taking any Exam...</p>
        <div class="articles">
            <div>
                <img src="../assets/images/girl-1.jpg">
                <p style="font-size: 15px; line-height: 0px;">Article-1</p>
                <button>Read More</button><br>
            </div>
            <div>
                <img src="../assets/images/girl-2.jpg">
                <p style="font-size: 15px; line-height: 0px;">Article-2</p>
                <button>Read More</button><br>
            </div>
            <div>
                <img src="../assets/images/girl-3.jpg">
                <p style="font-size: 15px; line-height: 0px;">Article-3</p>
                <button>Read More</button><br>
            </div>
            <div>
                <img src="../assets/images/girl-4.jpg">
                <p style="font-size: 15px; line-height: 0px;">Article-4</p>
                <button>Read More</button>
            </div>
        </div>
    </div>

    <div class="news-outer" style="text-align: center;"><br>
        <h1 style="color: cyan;">Our News</h1>
        <p style="color: pink;">Latest news in our website</p>
        <div class="news">
            <div>
                <img src="../assets/images/girl-1.jpg">
                <a href="#news-1" style="color: blue;">This is the first news posted on our website.</a><br>
                write your first news content here in few words and for the furter remaining content click given button.
                <br><button style="float: right;">Read More</button>
            </div>
            <div>
                <img src="../assets/images/girl-2.jpg">
                <a href="#news-1" style="color: blue;">This is the first news posted on our website.</a><br>
                write your first news content here in few words and for the furter remaining content click given button.
                <br><button style="float: right;">Read More</button>
            </div>
            <div>
                <img src="../assets/images/girl-3.jpg">
                <a href="#news-1" style="color: blue;">This is the first news posted on our website.</a><br>
                write your first news content here in few words and for the furter remaining content click given button.
                <br><button style="float: right;">Read More</button>
            </div>
            <div>
                <img src="../assets/images/girl-4.jpg">
                <a href="#news-1" style="color: blue;">This is the first news posted on our website.</a><br>
                write your first news content here in few words and for the furter remaining content click given button.
                <br><button style="float: right;">Read More</button>
            </div>
            <div>
                <img src="../assets/images/girl-1.jpg">
                <a href="#news-1" style="color: blue;">This is the first news posted on our website.</a><br>
                write your first news content here in few words and for the furter remaining content click given button.
                <br><button style="float: right;">Read More</button>
            </div>
            <div>
                <img src="../assets/images/girl-2.jpg">
                <a href="#news-1" style="color: blue;">This is the first news posted on our website.</a><br>
                write your first news content here in few words and for the furter remaining content click given button.
                <br><button style="float: right;">Read More</button>
            </div>
        </div>
    </div>

    <table class="total-students-record" border="1">
        <tr class="total-students-record-1">
            <td>550</td>
            <td>250</td>
            <td>300</td>
            <td>470</td>
        </tr>
        <tr class="total-students-record-2">
            <td>Total Students</td>
            <td>Total Packages</td>
            <td>Total Exams</td>
            <td>Total Questions</td>
        </tr>
    </table>

    <div class="footer" style="text-align: center;">
        <div>
            <a href="features">Features |</a>
            <a href="testimonials">Testimonials |</a>
            <a href="Exam-first">Exams |</a>
            <a href="faculties">Faculties |</a>
            <a href="blog">Our Blog |</a>
            <a href="articles">Articles |</a>
            <a href="about">About |</a>
            <a href="gallery">Gallery |</a>
            <a href="gallery">Videos |</a>
            <a href="news">News |</a>
            <a href="terms&conditions">Terms & Conditions |</a>
            <a href="faqs">Faq's |</a>
            <a href="careers">Careers |</a>
            <a href="contact">Contact us</a>
        </div>
        <div class="footer-flex">
            <div>
                <img src="../assets/images/visa.png"
                    style="width:50px; height:40px; padding: 5px; margin:5px; border-radius: 15px;">
                <img src="../assets/images/paytm.png"
                    style="width:50px; height:40px; padding: 5px; margin:5px; border-radius: 15px;">
                <img src="../assets/images/paypal.png"
                    style="width:50px; height:40px; padding: 5px; margin:5px; border-radius: 15px;">
                <img src="../assets/images/american-tourister.jpg"
                    style="width:50px; height:40px; padding: 5px; margin:5px; border-radius: 15px;">
            </div>
            <div>
                <p style="color: white;">Designed & Developed By</p>
                <p style="color: white;">www.SparkInfosys.com</p>
            </div>
            <div>
                <ul>
                    <li class="fa fa-fw fa-circle" style="color: rgba(64, 244, 250, 0.904); font-size: 50px;"></li>
                    <li class="fa fa-fw fa-circle" style="color: rgba(247, 250, 64, 0.795); font-size: 50px;"></li>
                    <li class="fa fa-fw fa-circle" style="color: rgba(64, 250, 89, 0.808); font-size: 50px;"></li>
                    <li class="fa fa-fw fa-circle" style="color: rgba(250, 64, 210, 0.658); font-size: 50px;"></li>
                    <li class="fa fa-fw fa-circle" style="color: rgba(250, 64, 95, 0.774); font-size: 50px;"></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>