<!DOCTYPE html>
<html lang="en">

<head>
    <title>Teacher's End</title> 
    <!-- Adding External css file -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="../assets/indexPage.css">
    <link rel="stylesheet" type="text/css" href="../assets/aboutPage.css">
    <link rel="stylesheet" type="text/css" href="../assets/galleryPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        td:hover {cursor: pointer}
    </style>
</head>

<body style="margin: 0; padding: 0;">
    <div class="navbar uppernav">
        <a href="#"><i class="fa fa-fw fa-user"></i>Sawan</a>
        <a href="#"><i class="fa fa-fw fa-home"></i></i>1814310185</a>
        <a href="#"><i class="fa fa-fw fa-newspaper-o"></i>IMSEC</a>
        <!-- <a href="#"><i class="fa fa-fw fa-envelope"></i>shivam@gmail.com</a> -->
        <a href="#"><i class="fa fa-fw fa-envelope"></i>sawanyad1208@gmail.com</a>
        <a href="#"><i class="fa fa-fw fa-phone"></i>(+91)8826884106</a>
    </div>
    <!-- second  navigation bar -->
    <div class="navbar" id="navbar">
        <a href="contact"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
        <a href="gallery"><i class="fa fa-fw fa-image"></i>Gallery</a>
        <a href="blog"><i class="fa fa-fw fa-bell"></i>Blog</a>
        <a href="news"><i class="fa fa-fw fa-newspaper-o"></i>News</a>
        <a href="articles"><i class="fa fa-fw fa-book"></i>Articles</a>
        <a href="Exam-second"><i class="fa fa-fw fa-pencil"></i>Exams</a>
        <a href="features"><i class="fa fa-fw fa-asterisk"></i>Features</a>
        <a href="faculties"><i class="fa fa-fw fa-user"></i>Faculties</a>
        <a href="about"><i class="fa fa-fw fa-address-book"></i>About</a>
        <a href="index"><i class="fa fa-fw fa-home"></i>Home</a>
    </div>
    <div class="section1" style="background-color: rgb(88, 191, 231); color: white; font-weight: bold;">
        <center><br><br><br><br><br>
            <div class="heading" style=" font-size: 50px;">
                Knowledge is Power. Test it.
            </div>
            <div class="subheading" style=" font-size: 20px;">
                An absolute online examination platform.
            </div>
            <br>
        </center>
        <div class="severalExams" style="display: flex; justify-content: center;">
            <div id="icon1"
                style="background-color: rgb(2, 177, 247); width: fit-content; padding: 10px; margin: 5px; font-size: 60px; text-align: center;">
                <i class="fa fa-fw fa-user"></i>
                <p style="color: white; font-size: 20px; line-height: 0px;">AI Based</p>
                <p style="color: white; font-size: 20px; line-height: 0px;">Auto Processing</p>
            </div>
            <div id="icon2"
                style="background-color: rgb(2, 177, 247); width: fit-content; padding: 10px; margin: 5px; font-size: 60px; text-align: center;">
                <i class="fa fa-fw fa-mobile"></i>
                <p style="color: white; font-size: 20px; line-height: 0px;">Secure Exams</p>
                <p style="color: white; font-size: 20px; line-height: 0px;">on phone</p>
            </div>
            <div id="icon3"
                style="background-color: rgb(2, 177, 247); width: fit-content; padding: 10px; margin: 5px; font-size: 60px; text-align: center;">
                <i class="fa fa-fw fa-users"></i>
                <p style="color: white; font-size: 20px; line-height: 0px;">Adopted by</p>
                <p style="color: white; font-size: 20px; line-height: 0px;">many successfully</p>
            </div>
            <div id="icon4"
                style="background-color: rgb(2, 177, 247); width: fit-content; padding: 10px; margin: 5px; font-size: 60px; text-align: center;">
                <i class="fa fa-spinner fa-spin fa-x fa-fw"></i>
                <p style="color: white; font-size: 20px; line-height: 0px;">Useful Analytics</p>
                <p style="color: white; font-size: 20px; line-height: 0px;">for assessment</p>
            </div>
            <div id="icon5"
                style="background-color: rgb(2, 177, 247); width: fit-content; padding: 10px; margin: 5px; font-size: 60px; text-align: center;">
                <i class="fa fa-fw fab fab fa-google-wallet"></i>
                <p style="color: white; font-size: 20px; line-height: 0px;">Effective</p>
                <p style="color: white; font-size: 20px; line-height: 0px;">Pricing</p>
            </div>
            <div id="icon6"
                style="background-color: rgb(2, 177, 247); width: fit-content; padding: 10px; margin: 5px; font-size: 60px; text-align: center;">
                <i class="fa fa-fw fas fa-desktop"></i>
                <p style="color: white; font-size: 20px; line-height: 0px;">online Theory</p>
                <p style="color: white; font-size: 20px; line-height: 0px;">Exam Management</p>
            </div>
        </div><br>
        <center>
            <button onclick="myExam()" 
                style="background-color: rgb(23, 177, 23); width: 18%; font-size: 18px; font-weight: bold; color: white; padding: 10px; border: none ;">
                Conduct Exam Now
            </button>
        </center><br><br><br><br><br><br><br>
    </div>
    <div class="section2">
        <div class="bleed_features" style="background-color: white;">
            <center>
                <h1 style="color: black; text-decoration: none; font-weight: bold;">Our Bleeding Edge Features</h1>
                <table id="myTable" style="padding-left: 100px; padding-right: 100px; border-spacing: 15px">
                    <tr>
                        <td style="width: 30%; background-color: rgb(212, 63, 88); color: white; padding: 10px;">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Omnipresent</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Conduct Assessment on Tablet/Mobile/Computer Assessment on Tablet/Mobile/Computer delectus quae magnam minus possimus adipisci obcaecati consequuntur odit, dolorem</p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                        <td style="width: 30%; background-color: rgb(31, 236, 243); color: white; padding: 10px;" rowspan="2">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Systematic Analysis</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ex dolor eius labore? Consequuntur qui, autem id error ut tenetur ea! Non eveniet asperiores obcaecati earum similique corporis laudantium laborum, exercitationem perferendis facere officiis nisi nostrum numquam praesentium quis culpa tenetur libero distinctio temporibus animi modi rerum perspiciatis explicabo! Minima, deserunt? Facere quia maxime voluptatem? Vel, saepe cupiditate ea soluta voluptatum optio iste amet nostrum praesentium culpa consequuntur asperiores omnis alias! Nemo iure culpa iste deleniti aspernatur.</p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                        <td style="width: 30%; background-color: rgb(11, 168, 11); color: white; padding: 10px;">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Share Resources</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Assessment on Tablet/Mobile/Computer delectus quae magnam minus possimus adipisci obcaecati consequuntur odit, dolorem laboriosam laborum voluptate veniam sit perspiciatis optio nihil aperiam.</p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; background-color: rgb(238, 65, 229); color: white; padding: 10px;">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Omnipresent</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Conduct Assessment on Tablet/Mobile/Computer Assessment on Tablet/Mobile/Computer delectus quae magnam minus possimus adipisci obcaecati consequuntur odit, dolorem</p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                        <td style="width: 30%; background-color: rgba(0, 255, 179, 0.945); color: white; padding: 10px;">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Omnipresent</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Conduct Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab esse laudantium labore architecto corrupti hic aut corporis doloremque saepe facilis? Assessment on Tablet/Mobile/Computer</p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; background-color: rgb(115, 212, 250); color: white; padding: 10px;" rowspan="2">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Omnipresent</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi magni culpa quas iusto magnam vero non quod asperiores sapiente quae maiores quam est impedit aspernatur eius tenetur reiciendis, modi facilis blanditiis voluptas possimus? Nam molestias aliquam earum vitae incidunt inventore. A assumenda, cupiditate rerum impedit quam voluptas ipsum nemo veniam et dolorem, exercitationem maiores placeat architecto animi accusamus perspiciatis minima sint porro quos nulla. Praesentium aspernatur debitis doloribus saepe doloremque facilis, earum nisi nobis beatae illum magnam? </p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                        <td style="width: 30%; background-color: rgb(241, 36, 156); color: white; padding: 10px;">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Systematic Analysis</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Aptitude Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quos aut, nesciunt voluptatem consequatur error neque excepturi quam illum. Quod omnis sequi quidem inventore eos nemo fuga perferendis. Impedit nesciunt facilis vitae.</p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                        <td style="width: 30%; background-color: rgb(76, 252, 90); color: white; padding: 10px;">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Omnipresent</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Conduct Assessment on Tablet/Mobile/Computer Assessment on Tablet/Mobile/Computer delectus quae magnam minus possimus adipisci obcaecati consequuntur odit, dolorem</p></p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; background-color: rgb(194, 31, 243); color: white; padding: 10px;" rowspan="2">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Systematic Analysis</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Aptitud nesciunt voluptatem consequatur error neque excepturi quam illum. Quod omnis sequi quidem inventore eos nemo fuga perferendis. Impedit nesciunt facilis vitae.</p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                        <td style="width: 30%; background-color:  rgba(0, 255, 179, 0.945); color: white; padding: 10px;">
                            <h2 style="color: white; text-decoration: none; font-weight: bold;">Omnipresent</h2>
                            <p style="color: white; text-decoration: none; font-weight: bold;">Conduct Assessment on Tablet/Mobile/Computer Assessment on Tablet/Mobile/Computer delectus quae magnam minus possimus adipisci obcaecati consequuntur odit, dolorem</p></p>
                            <i class="fa fa-fw fa-home" style="font-size: 50px;"></i>
                        </td>
                    </tr>
                </table>
            </center>
        </div>
        <div>
            <img src="../assets/images/exam_teach7.png" style="width: 100%;">
            <img src="../assets/images/exam_teach8.png" style="width: 100%;">
            <img src="../assets/images/exam_teach9.png" style="width: 100%;">
            <img src="../assets/images/exam_teach10.png" style="width: 100%;">
        </div>
    </div>
    <div class="footer" style="text-align: center;">
        <div>
            <a href="features">Features |</a>
            <a href="testimonials">Testimonials |</a>
            <a href="Exam-second">Exams |</a>
            <a href="faculties">Faculties |</a>
            <a href="blog">Our Blog |</a>
            <a href="articles">Articles |</a>
            <a href="about">About |</a>
            <a href="gallery">Gallery |</a>
            <a href="gallery">Videos |</a>
            <a href="news">News |</a>
            <a href="terms&conditions">Terms & Conditions |</a>
            <a href="faqs">Faq's |</a>
            <a href="careers">Careers |</a>
            <a href="contact">Contact us</a>
        </div>
        <div class="footer-flex">
            <div>
                <img src="../assets/images/visa.png"
                    style="width:50px; height:40px; padding: 5px; margin:5px; border-radius: 15px;">
                <img src="../assets/images/paytm.png"
                    style="width:50px; height:40px; padding: 5px; margin:5px; border-radius: 15px;">
                <img src="../assets/images/paypal.png"
                    style="width:50px; height:40px; padding: 5px; margin:5px; border-radius: 15px;">
                <img src="../assets/images/american-tourister.jpg"
                    style="width:50px; height:40px; padding: 5px; margin:5px; border-radius: 15px;">
            </div>
            <div>
                <p style="color: white;">Designed & Developed By</p>
                <p style="color: white;">www.SparkInfosys.com</p>
            </div>
            <div>
                <ul>
                    <li class="fa fa-fw fa-circle" style="color: rgba(64, 244, 250, 0.904); font-size: 50px;"></li>
                    <li class="fa fa-fw fa-circle" style="color: rgba(247, 250, 64, 0.795); font-size: 50px;"></li>
                    <li class="fa fa-fw fa-circle" style="color: rgba(64, 250, 89, 0.808); font-size: 50px;"></li>
                    <li class="fa fa-fw fa-circle" style="color: rgba(250, 64, 210, 0.658); font-size: 50px;"></li>
                    <li class="fa fa-fw fa-circle" style="color: rgba(250, 64, 95, 0.774); font-size: 50px;"></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        function myExam(){
            window.open('Exam-second',"_self");
        }
    </script>
</body>

</html>