<%- include('common/nav')-%>

<body style="background-image: url('../assets/images/liquid-horse.jpg'); background-size: contain; backdrop-filter: blur(5px);">
    
    <div style="background-color: rgba(0, 0, 0, 0.349); color: white; height: 40px;">
        <b style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px;">Terms & Conditions</b>
        <b style="float: right;"><a href="index">Home</a><i style="color: skyblue;"> o </i>Terms & Conditions</b>
    </div>
    <div class="body-about w3-animate-top" style="text-align: center; animation-duration: 10s;">
        <h1 style="color: skyblue;">Terms & <normal style="color: orange; font-size: 32px;">Conditions</normal>
        </h1>
        <img src="../assets/images/title-icon.png" alt="WELCOME">
        <i>
            <p style="font-size: 20px; color: white;">Before taking IMSEC Exams services,
                once have a look into below Terms & Conditions....</p>
        </i>
    </div><br>

    <center>
        <h3 style="text-decoration: underline; color: rgb(255, 174, 0);">
            Use Of Information:
        </h3>
        <p style="color: white; font-size: 16px; padding: 20px;">
            We ask for information from the visitors for our individual legitimate business use and not for the
            advantage of any non-affiliated party. hence, we will not disclose your information to any non-affiliated
            party except, in case (1) as essential for us to offer the product or service that is requested by you; (2)
            as approved by law; or (3) other ways mentioned herein. We may use such information for internal purposes
            like analysis or quality control activities.
        </p>
        <h3 style="text-decoration: underline; color: rgb(255, 174, 0);">
            Personal Information:
        </h3>
        <p style="color: white; font-size: 16px; padding: 20px;">
            To better full fill your requirements now as well in the future, sometimes we ask you to provide some
            information. We always understand that you may be worried about what we will do with the information
            collection, especially the personal information. We accept that you have every right to know the purpose of
            taking personal information. Hence, we have implemented this Privacy Policy to manage the usage and
            management of your personal information.
        </p>
        <h3 style="text-decoration: underline; color: rgb(255, 174, 0);">
            Cancellation and Refund policy :
        </h3>
        <p style="color: white; font-size: 16px; padding: 20px;">
            All payments and purchases are not refundable and cancellation is not possible for any user in our website.
            We are provide information is enough for the users.
            If any user have some issues about his purchase mail us on (info@manavidyaexams.com) we will look up
            particular and will help to user. I f user will have a valid reason, we will happy to discuss and resolve
            the issue. Any refund if eligible, we will process with in 2 weeks (14days) of receiving refund or
            cancellation request.
        </p>
        <h3 style="text-decoration: underline; color: rgb(255, 174, 0);">
            Privacy and Policy :
        </h3>
        <p style="color: white; font-size: 16px; padding: 20px;">
            Generally, you can visit manavidyaexams.com site without revealing your identity or informing who you are.
            Our servers gather the IP addresses and domain names of visitors and stores for one month. The collected
            information is total led to estimate the no of visits, pages viewed, average time visitor checked the site
            and other information. Maanvidyaexams.com utilizes this data to evaluate the usability of our website and
            also to generate ideas to enhance the content of our website. We in any case share your email IDs with
            others.
        </p>
        <h3 style="text-decoration: underline; color: rgb(255, 174, 0);">
            DISCLAIMER:
        </h3>
        <p style="color: white; font-size: 16px; padding: 20px;">
            The information, suggestions, material, content, links, advice and any other information available in
            www.manavidyaexams.com is gathered from different sources such as newspapers, websites, content experts,
            employment notifications and other sources. It is offered as a service for users and needs to be used
            strictly for informational purpose. Though all efforts have been made to ensure the accuracy of the
            information. www.manavidyaexams.com does not guarantee that content or the material provided in this site is
            error-free and incessant. The site shall not be accountable for any loss, damage or other inconveniencedue
            to the information provided in this portal. The portal should be considered only as an information source
            and must not be taken assurance or guaranteefor the performance of any action. Readers should get it
            confirmed by the official or legitimate sources before taking decisions about the information present in
            this site.
            The reader/ visitor realizes that except for the content, products and services that are clearly
            differentiated as being the offering of www.manavidyaexams.com, the site does not promote any information
            and is not liable for errors or discrepancy in the information provided. The content in this site may be
            changed from time to time without any notice.
        </p>
        <h3 style="text-decoration: underline; color: rgb(255, 174, 0);">
            LINKS TO OTHER SITES:
        </h3>
        <p style="color: white; font-size: 16px; padding: 20px;">
            www.manavidyaexams.com consists of links to different sites. www.manavidyaexams.com is not liable for any
            content of such websites on which it does not have control, nor does it take liability for websites
            integrated to this one. Providing a link does not indicate that we promote or support the views expressed in
            that linked site. While linking to third-party sites, a user must read the terms of user and privacy policy
            of that particular site.
        </p>
        <h3 style="text-decoration: underline; color: rgb(255, 174, 0);">
            COOKIES:
        </h3>
        <p style="color: white; font-size: 16px; padding: 20px;">
            Manavidyaexams.com and some internet sites may use Cookies to estimate the site activity as well as to
            personalise the information, according to your tastes. A Cookie refers to apiece of data that awebsite can
            send to your browser that may then save the cookie in your hard disk. The purpose of this technology is to
            serve the site visitors in a better way, save the time of the users and provide them a better and useful
            site experience.
        </p>
        <h3 style="text-decoration: underline; color: rgb(255, 174, 0);">
            DoubleClick DART Cookies:
        </h3>
        <p style="color: white; font-size: 16px; padding: 20px;">
            As a third-party vendor, Google uses cookies to provide ads on www.manavidyaexams.com
            The Google’s utilization of the DART cookies permits it to present advertisements to users depending on
            their visit to the www.manavidyaexams.com and also different websites on the worldwide web. Users may choose
            to opt-out the access of DART cookies by checking the Google ad and content network privacy policy. You can
            find it here: http://www.google.com/privacy/ads/
            Certain advertising partners of www.manavidyaexams.com may use cookies as well as web beacons on this site.
            Theadvertising partners of manavidyaexams.com include Google DoubleClick, Google AdSense, and Info links.
            The third-party ad networks and ad servers utilize technology to the ads and links which are displayed on
            www.manavidyaexams.com send directly to your browsers. They receive your IP address automatically when this
            happens. Other technologies (like Web beacons, or JavaScript) may also be utilized by the other ad networks
            to evaluate the effectiveness of their ads and/or to customize the ad content available.
            www.manavidyaexams.com has no control or access to these third-party cookies which are used by other
            advertisers.
            You must refer privacy policies of the respective third-party ad servers to get more information on their
            privacy practices and for general information about opting-out unsuitable practices.
            www.manavidyaexams.com’sPrivacy Policy doesn’t relate to, and we do not have control over the activities of
            such websites or advertisers.
            If you wish to turn off cookies, you may do that using your personal browser preferences. The in-depth
            information about the cookies management with particular web browsers can be accessed at the respective
            websites of browsers.
        </p>
        <h3 style="text-decoration: underline; color: rgb(255, 174, 0);">
            Copyright:
        </h3>
        <p style="color: white; font-size: 16px; padding: 20px;">
            Content, material and images provided in this site is the property of site owner and is protected by
            copyright. You should not make any changes or inclusions to the material of this web site, or misuse it or
            sell it for commercial purpose. Information can be copied and downloaded only for the personal or
            educational purpose. We would like you to inform us in case you want to proceed with re-publishing the
            material from this site.
            If any individual or website wants to quote on or link to our content/articles, should follow the guidelines
            below:
            Use only the summary of the article which will be around 3 to 5 sentences usually and provide a link to our
            content for readers to access the full story. You should acknowledge www.manavidyaexams.com with
            hyperlink/anchor text directing to our domain name or the article. Do not publish the full article from our
            website without our consent.
            Manavidya is the trademark of this site.
            If you identify any copyright issues or you are interested to print our articles (full story), please feel
            free to contact at info@manavidyaexams.com
            By browsing and accessing this site, you accept the Terms and Conditions.
        </p>
    </center>
    <br>
    <%- include('common/foot')-%>
</body>

</html>