<%- include('common/nav')-%>

<body style="background-image: url('../assets/images/liquid-horse.jpg'); background-size: cover; backdrop-filter: blur(5px);">
    
    <div style="background-color: rgba(0, 0, 0, 0.349); color: white; height: 40px;">
        <b style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px;">Testimonials</b>
        <b style="float: right;"><a href="index">Home</a><i style="color: skyblue;"> o </i>Testimonials</b>
    </div>
    <div class="body-about w3-animate-top" style="text-align: center; animation-duration: 10s;">
        <h1 style="color: skyblue;">Testimonials IMSEC <normal style="color: orange; font-size: 32px;">Online Portal
            </normal>
        </h1>
        <img src="../assets/images/title-icon.png" alt="WELCOME">
        <i>
            <p style="font-size: 20px; color: white;">Welcome to IMSEC Online Exam Portal...</p>
        </i>
    </div>

    <br><br><br>

    <%- include('common/foot')-%>
</body>

</html>