<div class="w3-animate-bottom footer-about" style="animation-duration: 8s;">
    <div>
        <normal>ABOUT IMSEC</normal>
        <hr>
        <p>IMSEC Exams Partal is founded by a team of enthusiasts with an aim “to assist the fresh
            graduates find their dream job!” Manavidyaexams.com is an unpretentious effort to connect
            talent and employer together in a seamless manner. In short, Manavidya.in is:...</p>
        <i style="color: aqua;">>></i><a href="about">Read more</a>
    </div>
    <div>
        <normal>QUICK LINKS</normal>
        <hr>
        <a href="Exam-first">Exams</a>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
        <a href="features">Features</a>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
    </div>
    <div>
        <normal>QUICK LINKS</normal>
        <hr>
        <a href="testimonials">Testimonials</a>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
        <a href="terms&conditions">Terms and Conditions</a>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
        <a href="faqs">FAQ'S</a>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
        <a href="contact">Contact</a>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
    </div>
    <div>
        <normal>CONTACT US</normal>
        <hr>
        <a href="#phone">+91-9191919191</a>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
        <a href="#mail">imsec@imsec.ac.in</a>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
        <a href="#address">4-140/1A, Prashant Nagar, Dasna, Uttar Pradesh, Pin-Code: 201009</a>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
        <div>
            <a href="https://www.facebook.com/" target="_blank"><img src="../assets/images/fb.png"></a>
            <a href="https://twitter.com/" target="_blank"><img src="../assets/images/twitter.png"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/insta.jpg"></a>
            <a href="https://www.google.com/" target="_blank"><img src="../assets/images/google+.png"></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="../assets/images/youtube.png"></a>
        </div>
        <hr style="border: 1px dashed rgba(179, 175, 175, 0.644);">
    </div>
</div>
<div class="copyright-reserved" style="color: white; background-color: rgba(0, 0, 0, 0.945);
                    width: 100%; padding: 10px; height: 30px;">
    Copyright © 2020 IMSEC Exams Portal. All Rights Reserved
</div>